@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700);

body {
	font-family: 'Maven Pro', sans-serif;
	font-size: 18px;
	text-align: center;
	line-height: 1.6;
	position: relative;
	/*background: url(../images/doodle.jpg) center;*/
	background-color: #ffffff;


}

header {
/* now insert the background image, not tiled and covers page */
	background-color: #ffffff;
	color: #777777;
	/*padding: 3% 10% 3% 15%;*/
/* add a fixed height above the vh mark for anybrowser that does not support vh i.e. ie8 */
	/*height: 300px;*/
/* set the height to the full height of the browser */
	height: 20vh;
/* viewport height = vh */
/* the computer only responds to the last written code for a command on the css/html/javascript page... e.g. different heights */

	width: 100%;
	/*display: inline;*/
	position: fixed;
	top: 0;
	left:0;

	z-index: 9;
/* we use steps of 10 to make it helpfuls to position other tags inbetween at a later date*/
/* add a shadow to the header --- adds depth */
	box-shadow: 0 0 15px rgba(0,0,0,0.3);

}

header img {
 /*place the logo on the left hand side and the navigation on the right */
	float: left;
/* Top left bottom right*/
	max-height: 17vh;
	position: absolute;
	top: 5%;
	left: 15%;

}


nav a {
	/*	*/
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
	text-transform: capitalize;	
	color: #777777;

	margin: 0 10px 0 10px;

}

header nav {

	position: absolute;
	right: 5%;
	top: 30%;
	display: block;	
	
}

header a {
	font-weight: 400;
}

nav a:hover {
	color: #00c1f6;

}

.all {
	max-width: 1150px;
	min-width: 1150px;
	background-color: #b0d6ff;
	margin: 0 auto 0 auto;
	padding: 0 0 200px 0;
	height: 100vh;
	border-left: solid; 
	border-right: solid; 
	border-color: rgba(150,200,255,0.8);
	border-width: 5px;
	border-right-color: rgba( 75,100,255,0.5);

}

#home {
	min-height: 215vh;
}

#blog {
	min-height: 225vh;
}

#potw {
	min-height: 100vh;
	padding: 20px 0 0 0;
}


.intro img{

	border-radius: 35%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	margin: 50px 0 0 0;
}
.intro {
	max-width: 900px;
	margin : 20vh auto 0 auto;
	color: #ffffff;


}

.blogtitle {
	padding: 250px 0 0 0;
}

.container {
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	height: 60vh;
	width: 1150px;
}

.describe {
	margin: 0 0 25px 0;
}


#four {
	background-color: #ffffff;
	padding: 20px 0 0 0;
	height: 300px;
	max-width: 27.5%;
	text-align: center;
	border-radius: 10%;
	min-width: 150px;
	margin:0 0 0 0;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);

}

#four img {
	max-width: 100%;
	max-height: 25vh;
	border-radius: 10%;
	margin: 0 auto 20px auto;
	vertical-align: center;

}

#tile {
	background-color: #ffffff;
	margin: 0 15px 40px 15px;
	padding: 0 0 0 0;
	/*border: 1px solid #e0e0e0;
	border-radius: 10%;*/
	max-height: 175px;
	font-size: 25px;
}

#middle {
	background-color: #ffffff;
	padding: 20px 0 0 0;
	height: 300px;
	max-width: 27.5%;
	text-align: center;
	border-radius: 10%;
	min-width: 150px;
	margin:0 5.55vw 0 5.55vw;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

#middle img {
	max-width: 100%;
	max-height: 25vh;
	border-radius: 10%;
	margin: 0 auto 20px auto;
	vertical-align: center;
}

#imagehover .text {
	font-size: 40px;
	position: relative;
	bottom:210px;
	visibility: hidden;

}

#imagehover:hover .text{
	visibility: visible;
	color: #ffffff;
	font-weight: 700;
	text-shadow: 3px 3px 0px #000000	, 7px 7px 0px rgba(0, 0, 0, 0);
}


h1 {
	font-size: 65px;
	font-weight: 700;
	color: #000000;	
	text-transform: capitalize; 

}

h1.retroshadow {
  color: #2c2c2c;
  /*background-color: #d5d5d5;*/
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px #b0d6ff	, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

h2 {
	color: #777777;
	font-weight: 500;
	font-size: 22px;
	text-transform: capitalize;
	text-decoration: none;
	padding: 0 0 25px 0;
}

.navigation a {
	font-size: 25px;
	margin: 300px 0 0 0;
	color: #777777;

}

.navigation a:hover {
	color: #c6c6c6;
	text-shadow:#222222 1px 2px 0, #aba8a8 1px 15px 5px;
	


}

h5 {
	color: #000000;
	position: relative;
	left: 0%;
}

h5 a {
	color: #ccccff;
	text-decoration: none;
	font-size: 22px;
	font-weight: 500;

}

h5 a:hover {
	color: #ffffff;
	font-size: 30px;
}

h6 {
	font-size: 28px;
	font-weight: 500;
	color: rgba(255,255,255,1);
}

footer {
	background-color: #ffffff;
	height: 10vh;
	width: 100%;
	padding: 25px 0 0 0;
	position: absolute;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);

}

.pool img {
	max-width: 600px;
	margin: 10px 0 10px 0;
	/*border-radius: 5%;*/
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

p {
	max-width: 725px;
	margin: 0 auto 0 auto;
}

iframe {
	margin: 50px 0 25px 0;
}

blockquote {
	text-transform: capitalize;
	color: #333333;
	text-shadow:#ffffff 2px 2px 0;
	font-weight: 500;
	margin: 10px 0 0 0;
}

.blog img {
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

#potw img {
	height: 525px;
	width: 525px;
	box-shadow:  0 0 15px rgba(0,0,0,0.3);
	 
	
}

#lolas {
	margin: 50px 0 0 0;
}

#morning {
	margin: 50px 0 0 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* slider */

.slider {

	margin: 20px auto;
	height: 520px;

}

.slider-wrapper {
	width: 610px;
	height: 525px;
	position: absolute;
	float: center;
	
}

.slide {
	position: absolute;
	float: center;
	width: 525px;
	height: 525px;
	opacity: 0;
	transition: opacity 2s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

/*.caption {
	visibility: hidden;
}*/

.caption {
	/*position: absolute;
	float: center;
	width: 525px;
	height: 525px;*/
	opacity: 0;
	transition: opacity 1s linear;
}

.follower-wrapper > .caption:first-child {
	opacity: 1;
}

.follower, .follower-wrapper {
	max-height: 50px;
}

#first-cap {
	position: relative;
	margin: 0 auto 0 auto;
	z-index: 1;
}

#second-cap {
	z-index: 2;
	position: relative;
	margin: 0 auto 0 auto;
	top: -44px;
}

#third-cap {
	position: relative;
	margin: 0 auto 0 auto;
	top: -88px;
	z-index: 3;
	
}

#fourth-cap {
	position: relative;
	margin: 0 auto 0 auto;
	top: -132px;
	z-index: 4;
	
}

#fifth-cap {
	position: relative;
	margin: 0 auto 0 auto;
	top: -176px;
	z-index: 5;
	
}

#sixth-cap {
	position: relative;
	margin: 0 auto 0 auto;
	top: -220px;
	z-index: 6;
	
}

#seventh-cap {
	position: relative;
	margin: 0 auto 0 auto;
	top: -264px;
	z-index: 7;
	
}


@media screen and (max-width: 720px) {
	/* anything inside of here only takes effect when the screensize is less than 720 pixels */


	h1 {
		padding: 0 20px 0 20px;
	}

	header {
		height: 20vh
	}

	header h1 {
		font-size: 50px;
		top: 0%;
	}	

	body, .all {
		text-align: center;
		position: relative;
		margin: 0 auto 0 auto;
	}

	.tile {
		display: block;
	}


	
}
























